.page-container {
  padding: 15px;
}
.el-col {
  padding: 10px;
  background: white;
}
.el-row {
  margin-bottom: 12px;
}
.el-form--inline .el-form-item {
  margin-bottom: 0;
}
.td-word {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
